<h1>
  Angular Persian Date Time Picker
</h1>
<hr />
<h3>In Line</h3>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-3">
    <mds-datetime-picker (dateChanged)="mdsDatePicker1OnDateChange($event)" [templateType]="2">
    </mds-datetime-picker>
    <hr />
    <div class="text-center custom-font">{{selectedDate1}}</div>
  </div>
  <div class="col-sm-3">
    <mds-datetime-picker (dateChanged)="mdsDatePicker2OnDateChange($event)" 
      (rangeDateChanged)="mdsDatePicker1OnDateRangeChange($event)"
      [isPersian]="false" [templateType]="1" [rangeSelector]="true">
    </mds-datetime-picker>
    <hr />
    <div class="text-center custom-font">{{selectedDateRange1}}</div>
  </div>
  <div class="col-sm-1"></div>
</div>
<hr />
<div class="row">
  <div class="col">
    <mds-datetime-picker [inLine]="false" initialValue="1396/06/05   10:20:00" [templateType]="1">
    </mds-datetime-picker>
  </div>
  <div class="col">
    <mds-datetime-picker [inLine]="false" [rangeSelector]="true" [templateType]="1" [textBoxType]="2">
    </mds-datetime-picker>
  </div>
  <div class="col">
    <mds-datetime-picker [inLine]="false" [rangeSelector]="true" [templateType]="1" [textBoxType]="2">
    </mds-datetime-picker>
  </div>
  <div class="col">
    <mds-datetime-picker [inLine]="false" [isPersian]="false" [rangeSelector]="true" [templateType]="2" buttonIcon="<span class='fa fa-calendar' aria-hidden='true'></span>">
    </mds-datetime-picker>
  </div>
</div>
<hr />
<div class="text-muted">
  By Mohammad Dayyan, @mdssoft, <a href="https://github.com/Mds92/mds-angular-datetime-picker-package">View Source</a>
</div>